body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}
.header-container {
  width: 100%;
  position: fixed;
  height: 4rem;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  justify-content: space-between;
  box-shadow: 3px 3px 4px gray;
  z-index: 20;
}
.flex-center {
  display: flex;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.icon {
  font-size: 2rem;
}
.justify-content {
  justify-content: flex-end;
}
.Header-container-dark {
  background-color: #202020;
  color: var(--golden-color);
  width: 100%;
  position: fixed;
  height: 4rem;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 3px 3px 4px gray;
  z-index: 21;
  color: white;
}
.table-container {
  color: black;
  background-color: white;
}
.table-container-dark {
  background-color: black;
  color: white;
}
.btn-container {
  margin: 5rem 0 2rem 0;
  width: 30vw;
  cursor: pointer;
}
.space-between {
  justify-content: space-around;
}
